<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new task
        </h1>


        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter new task name here">
            </p>
            <p class="control">
              <a class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">
                Create
              </a>
            </p>
          </div>

          <button routerLink="/" class="button" style="margin-top: 35px">Cancel</button>

    </div>
</div>
